[tool.poetry]
name = "useis"
version = "0.2.5"
description = ""
authors = ["jpmercier <jpmercier01@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
#uquake = {path = "libraries/uquake" }
dynaconf = "^3.1.4"
uquake = "^0.5.13"
tqdm = "^4.59.0"
# PyQt5 = "^5.15.4"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
