[tool.poetry]
name = "useis"
version = "0.3.3"
description = ""
authors = ["jpmercier <jpmercier01@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
#uquake = {path = "libraries/uquake" }
dynaconf = "^3.1.4"
uquake = "^0.6.2"
tqdm = "^4.59.0"
# PyQt5 = "^5.15.4"

ipdb = "^0.13.9"
[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
